.products__container {
    padding: 1rem;
}

.products__title {
    color: rgba(0,0,0, 0.85);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    padding: 1rem 0;
    text-transform: uppercase;
}

.products__sku {
    color: rgba(0,0,0, 0.65);
    font-size: 0.8rem;
}

.products__descriptionBrief {
    color: rgba(0,0,0, 1);
}

.products__sizeHeading {
    font-weight: 300;
    text-transform: uppercase;
}

.products__sizeOption {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;    
}

.products__sizeOption + label {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.65);
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 1rem;
}

.products__sizeOption:checked + label {
    box-shadow: 0 0 0 2px currentColor;
    color: #12B991;
}

.products__sizeLabel {
    color: inherit;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    padding-right: 1rem;
}

.products__sizeDescription {
    color: inherit;
    font-size: 1rem;
}

.products__price {
    font-size: 1.5rem;
    text-align: right;
}

.products__addToCartButtonWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products__care {
    background-color: #F8F8F7;
    color: rgba(0,0,0, 0.75);
    font-size: 1.13rem;
    margin: 2rem 0 1.5rem 0;
    padding: 2rem 1rem;
}

.products__careHeading {
    color: rgba(0,0,0, 0.85);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    text-transform: uppercase;
}

.products__careTypeHeading {
    font-size: 1.13rem;
    font-weight: 300;
    margin: 1.13rem 0 0 0;
    text-transform: uppercase;
}

.products__careIcon {
    display: none;
}

@media screen and (min-width: 1000px) {
    .products__container {
        display: grid;
        grid-gap: 2rem;
        gap: 2rem;
        grid-template-columns: 40% 1fr;
        padding: 1rem 0;
    }

    .products__title {
        font-size: 2.25rem;
    }

    .products__care {
        display: grid;
        grid-gap: 0 2rem;
        gap: 0 2rem;
        grid-template-columns: repeat(2, 1fr);
    }

    .products__careHeading {
        grid-column: 1 / -1;
    }

    .products__careItem {
        align-items: center;
        display: flex;
    }

    .products__careIcon {
        display: block;
        margin-right: 1rem;
        height: 72px;
        width: 72px;
    }

    .products__careIcon svg {
        fill: rgba(0,0,0, 0.45);
    }
}