.checkoutForm__form {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

.checkoutForm__header {
    grid-area: header;
    padding-left: 1rem;
}

@media screen and (min-width: 1000px) {
    .checkoutForm__header {
        text-align: center;
    }
}

.checkoutForm__section {
    align-items: center;
    background-color: #F8F8F7;
    color: rgba(0,0,0, 0.85);
    display: flex;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 1rem;
    text-transform: uppercase;
}

.checkoutForm__section h3 {
    font-size: 1.5rem;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.checkoutForm__section.current {
    background-color: var(--accentColor);
    color: white;
}

.checkoutForm__heading {
    display: flex;
    align-items: center;
}

.checkoutForm__heading svg{
    fill: var(--accentColor);
    margin: 0 1rem 0 0;
}

.checkoutForm__form label {
    display: block;
    padding: 0 0 0.25rem 0;
    width: 100%;
}

.checkoutForm__formLabel {
    display: block;
    padding: 0 0 0.25rem 0;
    width: 100%;
}

.checkoutForm__preset {
    display: flex;
    justify-content: space-between;
}

.checkoutForm__form input, .checkoutForm__form select {
    border: solid 1px rgba(0,0,0, 0.65);
    display: block;
    padding: 0.75rem;
    width: 100%;
}

.checkoutForm__form input:focus, .checkoutForm__form select:focus {
    background-color: #BDF3E6;
    outline-color: var(--accentColor);
}

.checkoutForm__field {
    margin: 0.5rem 0;
}

.checkoutForm__details {
    padding: 0rem 1rem;
}

.checkoutForm__submitButton {
    background-color: var(--accentColor);
    border: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 2rem 0;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.checkoutForm__editButton {
    background: none;
    border: none;
    font-size: 1rem;
}

.checkoutForm__editButton:hover {
    text-decoration: underline;
}

.checkoutForm__shippingOption {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px !important;
    overflow: hidden; 
}

.checkoutForm__shippingOption + label {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.65);
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 1rem;
}

.checkoutForm__shippingOption:checked + label {
    box-shadow: 0 0 0 2px currentColor;
    color: var(--accentColor);
}

.checkoutForm__error {
    color: red;
}

.checkoutForm__sameAsBilling {
    padding: 0 1rem 1rem 1rem;
    display: flex; 
    align-items: center;
}

.checkoutForm__sameAsBilling label {
    margin-left: 1rem;
}

.checkoutForm__sectionBody {
    padding: 1rem;
}

.checkoutForm__contact {
    padding: 1rem 2rem;
}

.checkoutForm__contact h3 {
    border-top: solid 1px #e4e4e4;
    font-weight: 300;
    padding-top: 1rem;
    text-transform: uppercase;
}

.checkoutForm__contact a {
    color: var(--accentColor);
}

@media screen and (min-width: 1000px) {
    .checkoutForm__wrap {
        display: grid;
        grid-template-areas: 
            "header header"
            "form summary"
            "form contact";
        grid-template-columns: 60% 1fr;
        grid-template-rows: auto auto 1fr;
    }
}