.checkoutForm__form {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
}

.checkoutForm__section {
    background-color: #F8F8F7;
    color: rgba(0,0,0, 0.85);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 1rem;
    text-transform: uppercase;
}

.checkoutForm__section.current {
    background-color: var(--accentColor);
    color: white;
}

.checkoutForm__form label {
    display: block;
    padding: 0 0 0.25rem 0;
    width: 100%;
}

.checkoutForm__form input {
    border: solid 1px rgba(0,0,0, 0.65);
    display: block;
    padding: 0.75rem;
    width: 100%;
}

.checkoutForm__form input:focus {
    background-color: #BDF3E6;
    outline-color: var(--accentColor);
}

.checkoutForm__field {
    margin: 0.5rem 0;
}

.checkoutForm__submitButton {
    background-color: var(--accentColor);
    border: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 2rem 0;
    padding: 1rem;
    text-transform: uppercase;
}