.cart__summary {
    align-items: center;
    display: flex;
}

.cart__summary_header {
    background: #FAFAFA;
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem 0;
    padding: 1rem;
    text-transform: uppercase;
}

@media screen and (min-width: 1000px) {
    .cart__summary {
        display: none;
    }

    .cart__summary_header {
        display: block;
    }
}

.cart__summary button {
    background: none;
    border: none;
    color: rgba(0,0,0, 0.25);
    height: 24px;
    outline: none;
    transition: all 0.25s linear;
    width: 24px;
}

.cart__summary button.open {
    transform: rotate(90deg);
}

.products {
    display: none;
    padding: 1rem;
}

@media screen and (min-width: 1000px) {
    .products {
        display: block;
    }
}

.products.products_show {
    display: block;
}

.product {
    display: flex;
    padding: 0.5rem 0;
}

.product__image {
    max-width: 150px;
    width: 100%;
}

.product__details {
    padding: 0 0 0 1rem;
}

.product__quantity {
    color: rgba(0,0,0, 0.65);
}

.product__price {
    color: rgba(0,0,0, 0.65);
    font-weight: 500;
}

.order__summary {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    text-transform: uppercase;
}

.order__summary__top {
    border: solid 1px #e4e4e4;
    border-left: 0;
    border-right: 0;
    margin: 1rem 0;
}

.order__message {
    color: rgba(0,0,0, 0.65);
    font-style: italic;
    text-transform: none;
}